h1{
    color: goldenrod;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-size: cover;
    background-color: green;
    color: white;
    font-weight: bold;
}
#intro{
    font-style: italic;
    font-size: 20px;
}
#cards{
    font-size: 17px;
}
#sum{
    font-size: 17px;
}
#start{
    font-size: 20px;
    color: green;
    background-color: goldenrod;
    font-weight: bold;
    border: none;
    padding: 6px 24px 6px 24px;
    border-radius: 2px;
}
#start:hover{
    cursor: pointer;
    opacity: 0.9;
}
#start:active{
    opacity: 0.6;
}